/* 所有样式将从样式表的顶部级联到样式表的底部。 */

p 
{
    background: orange;
    font-size: 24px;
}

p 
{
    background: green;
}

p 
{
    background: green;
}

p 
{
    background: green;
}
  

p
{
    background: orange;
    background: green;
}

/* 是ID选择器具有比类选择器更高的特异性权重，并且类选择器具有比类型选择器更高的特异性权重。 */

/* 选择器的特异性权重越高，在发生样式冲突时选择器的优越性就越大。
例如，如果在一个位置使用类型选择器而在另一个位置使用ID选择器选择了段落元素，
则ID选择器将优先于类型选择器，无论ID选择器在级联中出现的位置如何。 */

#food {
    background: green;
  }
 
p {
    background: orange;
  }

div {
    background:rgb(255, 102, 0);
    width:200px; 
    height:100px;
  }

  .food {
    background: green;
  }

  /* 组合选择器 */
  .hotdog p {
    background: brown;
  }

  /* 从右到左阅读组合选择器，它的目标是具有类属性值的段落，该段属性值mustard位于具有类属性值的元素中hotdog。 */
  .hotdog p.mustard {
    background: yellow;
  }


  /* 具有多个类的分层样式
  假设我们希望所有按钮都具有16像素的字体大小，但我们希望按钮的背景颜色根据按钮的使用位置而变化。我们可以根据需要创建一些类并将它们分层，以应用所需的样式。 */
  .btn {
    font-size: 16px;
  }
  .btn-danger {
    background: hsl(0, 100%, 25%);
  }
  .btn-success {
    background: green;
  }

  /* 颜色
CSS中的所有颜色值都是在sRGB（或标准的红色，绿色和蓝色）颜色空间中定义的。
这个空间内的颜色是通过将红色，绿色和蓝色通道混合在一起形成的，反映了电视和显示器生成它们显示的所有不同颜色的方式。
通过混合不同级别的红色，绿色和蓝色，我们可以创造数百万种颜色 - 并找到我们想要的几乎任何颜色。 */

/* 关键字颜色
关键字颜色值名称（例如red，green或blue），其映射到一个给定的颜色。 */
  
.task {
  background: rgba(128, 0, 0, .25);
}
.count {
  background:rgba(255, 255, 0, .5);
}

/* 推荐
目前，十六进制颜色值仍然是最受欢迎的，因为它们得到广泛支持; 虽然当需要透明度的alpha通道时，RGBa颜色值是首选 */

/* 十六进制颜色
十六进制颜色值由井号或散列值组成#，后跟三个或六个字符的数字。
附图使用数字0通9和字母a通过f，大写或小写。
这些值映射到红色，绿色和蓝色通道。

在六个字符的表示法中，前两个字符代表红色通道，第三个和第四个字符代表绿色通道，后两个字符代表蓝色通道。
在三字符表示法中，第一个字符代表红色通道，第二个字符代表绿色通道，最后一个字符代表蓝色通道。

如果在六个字符的表示法中前两个字符是匹配对，则第三个和第四个字符是匹配对，最后两个字符是匹配对，
六个字符的数字可以缩短为三个字符的数字。
为此，每对中的重复字符应使用一次。例如，由十六进制颜色表示的橙色阴影#ff6600也可以写为#f60。 */

/* rgb()函数中的第一个值代表红色通道，第二个值代表绿色通道，第三个值代表蓝色通道。 */

/* 通过使用该rgba()函数，RGB颜色值还可以包括α或透明度通道。 */
/* 该rgba()函数需要第四个值，该值必须是介于0和之间的数字1，包括小数。
值0创建一个完全透明的颜色，这意味着它将是不可见的，并且值1创建一个完全不透明的颜色。
之间的任何十进制值0和1将创建一个半透明颜色。 */


/* HSL和HSLa颜色
HSL颜色值使用hsl()函数表示，该函数代表色调，饱和度和亮度。在括号内，函数接受三个以逗号分隔的值，非常类似rgb()。 */

/* 
第一值，色相，是从一个无单位的数0到360。数字0通过360代表色轮，并且该值标识在色轮的颜色的程度。

第二和第三值，饱和度和亮度，是从百分比值0来100%。饱和度值标识色调的色彩饱和度，0灰度和100%完全饱和度。亮度表示色调值的暗度或亮度，0完全是黑色，100%完全是白色。 */
  

/* HSL颜色值（如RGBa）也可以包括使用该hsla()函数的alpha或透明度通道。alpha通道的行为就像rgba()函数的行为一样。必须在函数中添加0和之间的第四个值1（包括小数）以标识不透明度。

我们的橙色色调作为HSLa颜色设置为50％不透明将表示为hsla(24, 100%, 50%, .5)。

与之前相同的25％不透明maroon背景颜色和100％不透明yellow背景颜色看起来像以下HSLa颜色值。 */





/* 
长度：绝对长度和相对长度

绝对长度主要就是用像素px

相对长度
百分比
以%单位表示法表示的百分比是最受欢迎的相对值之一。百分比长度是根据另一个对象的长度定义的。
例如，要将width元素设置为50%，我们必须知道其父元素的宽度，它嵌套在其中的元素，然后识别50%父元素的宽度。

em单位也是非常受欢迎的相对价值。em单位由em单位表示法表示，其长度根据元素的字体大小计算。
单个em单位相当于元素的字体大小。
因此，例如，如果元素的字体大小为14像素且width设置为5em，则宽度将等于70像素（14像素乘以5）。
如果没有为元素明确说明字体大小，则em单位将相对于具有规定字体大小的最近父元素的字体大小。

em单元通常用于样式文本，包括字体大小，以及文本周围的间距，包括边距和填充。
*/