/* table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #c6c7cc;
    padding: 10px 15px;
  }
  th {
    font-weight: bold;
  } */

  table {
    border-collapse: separate;
    border-spacing: 4px;
  }
  table,
  th,
  td {
    border: 1px solid #cecfd5;
  }
  th,
  td {
    padding: 10px 15px;
  }
  