body {
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
a {
  color: #0087cc;
  text-decoration: none;
}
a:hover {
  color: #ff7b29;
}
a:after {
  color: #9799a7;
  content: " (" attr(href) ")";
  font-size: 11px;
}